*{
	margin:0px;
	padding:0px;

}
span{
	cursor: pointer;
}
select{
	margin-bottom: 5px;
}

.clear-br{
	border-radius: 0px;
}
/*Top*/
.logo img{
	width: 100px;
	margin-right: 15px;
}
.dangNhap {
	margin-top: 30px;
}
.dangNhap img{
	width: 40px;
}
#mainMenu nav{
	background: #FFFFFF;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	margin-bottom: 0px;
	border-radius: 0px;
	width: 100%;
}
.red{
	color: red;
}

/*Content*/
#content{
	min-height: 520px;
}
.container{
	width: 94%;
}
/*Footer*/
#footer{
	padding:20px 0px;
	background: #34495E;
}
#footer a{
	color: #FFFFFF;
	text-transform: uppercase;;
}


/*Trang chủ*/
.center{
	/*background: #dfdfdf;*/
	height: auto;
	padding: 20px 0px;
}

#showTinTuc{
	background: #FFFFFF;
	height: 480px;
}
#tinTuc{
	height: 480px;
}

/*Giới Thiệu*/
#bmptn ul{
}
#bmptn .submenu{
	display: block;
}

#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.panel{
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
}
.panel-heading{
	border-radius: 0px;
}
.panel-body{
	padding-bottom: 0px;
}

/*Student and -account*/
.box-right{
	background:#FFFFFF;
	min-height: 520px;
	padding: 0px;
	min-height: 430px;
}
.glyphicon{
	margin:0px 5px;
}
