<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinh Viên</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="uet.css">
</head>
<body>
    <div class="center">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><span>Khoa Công nghệ Thông tin</span></div>
                <div class="panel-body">
                    <ul class="menu-sidebar list-group">
                        <li class="list-group-item"><a href="#"><span>Giảng viên</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Sinh viên</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Chương trình đào tạo</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Khóa luận</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="bang-thong-tin" class="panel panel-default col-sm-9">
            <div class="panel-heading">
                <h3 class="panel-title">Thêm Sinh Viên</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <form role="form">
                          <div class="form-group">
                            <label for="maSinhVien">Mã Sinh Viên</label>
                            <input type="text" class="form-control" id="maSinhVien">
                          </div>
                          <div class="form-group">
                            <label for="tenSinhVien">Tên Sinh Viên</label>
                            <input type="text" class="form-control" id="tenSinhVien">
                          </div>
                          <div class="form-group">
                            <label for="emailSinhVien">Địa Chỉ Email</label>
                            <input type="email" class="form-control" id="emailSinhVien">
                          </div>
                          <div class="form-group">
                            <label for="khoaSinhVien">Khoa</label>
                            <input type="text" class="form-control" id="khoaSinhVien">
                          </div>
                          <div class="form-group">
                            <label for="lopSinhVien">Lớp</label>
                            <input type="text" class="form-control" id="lopSinhVien">
                          </div>
                          <button type="submit" class="btn btn-primary pull-right">Thêm</button>
                    </form>
                    
                </div>
                <div class="col-sm-6" style="border-left: 1px solid #dfdfdf; height: 430px;">
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Thêm</button>    
                    </form>
                    
                </div>
            </div>
        </div>
        </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>