<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinh Viên</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="uet.css">
</head>
<body>
    <div class="center">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><span>Khoa Công nghệ Thông tin</span></div>
                <div class="panel-body">
                    <ul class="menu-sidebar list-group">
                        <li class="list-group-item"><a href="#"><span>Giảng viên</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Sinh viên</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Chương trình đào tạo</span></a></li>
                        <li class="list-group-item"><a href="#"><span>Khóa luận</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="bang-thong-tin" class="panel panel-default col-sm-9">
            <div class="panel-heading">
                <h3 class="panel-title">Danh sách Sinh Viên</h3>
                <div class="pull-right"><button type="button" class="btn btn-primary btn-xs">Cập nhật danh sách</button></div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="col-md-2">Mã Sinh Viên</th>
                        <th class="col-md-3">Tên Sinh Viên</th>
                        <th class="col-md-3">Khóa Học</th>
                        <th class="col-md-2">Chi tiết</th>
                        <th class="col-md-2">ĐK đăng kí</th>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                    <tr>
                        <td>14020025</td>
                        <td>Phạm Thanh Xuân Đồng</td>
                        <td>QH-2014-I K59CLC</td>
                        <td>xxx</td>
                        <td>Có</td>
                    </tr>
                   
                </table>
            </div>
            
        </div>
        <div class="pull-right">
            <ul class="pagination pagination-sm">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="disabled"><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>