<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Chủ</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="uet.css">
</head>
<body>
    <div id="trangChu" class="center">
        <div class="container">
            <div id="showTinTuc" class="col-sm-7">
            </div>
            <div id="tinTuc" class="col-sm-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">Tin Tức</div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item">Cho phép đăng ký đè tài khóa luận từ ngày 15/11/2016 đến 1/3/2017
                          </a>
                          <a href="#" class="list-group-item">Kết quả bảo vệ khóa luận 2015-2016</a>
                          <a href="#" class="list-group-item">Tiến hành bảo vệ khóa luận vào ngày 12/9/2016</a>
                          <a href="#" class="list-group-item">Cho phép đăng ký đề tài khóa luận từ ngày 15/11/2016 đến 1/3/2017</a>
                          <a href="#" class="list-group-item">Cho phép đăng ký đề tài khóa luận từ ngày 15/11/2016 đến 1/3/2017</a>
                          <a href="#" class="list-group-item">Cho phép đăng ký đề tài khóa luận từ ngày 15/11/2016 đến 1/3/2017</a>
                          <a href="#" class="list-group-item">Cho phép đăng ký đề tài khóa luận từ ngày 15/11/2016 đến 1/3/2017</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body>
</html>